$Bright-orange: hsl(31, 77%, 52%);
$Dark-cyan: hsl(184, 100%, 22%);
$Very-dark-cyan: hsl(179, 100%, 13%);
$Transparent-white: hsla(0, 0%, 100%, 0.75);
$Very-light-gray: hsl(0, 0%, 95%);

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background: $Very-light-gray;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;

    min-height: 100vh;


    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    margin: 2rem 0 0 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .sedans {
        background: $Bright-orange;
        border-radius: 0.5rem 0 0 0.5rem;

        button {
            color: $Bright-orange;
        }
    }

    .suvs {
        background: $Dark-cyan;

        button {
            color: $Dark-cyan;
        }
    }

    .luxury {
        background: $Very-dark-cyan;
        border-radius: 0 0.5rem 0.5rem 0;

        button {
            color: $Very-dark-cyan;
        }
    }

    .card {
        width: 13.2rem;

        padding: 3rem;

        display: flex;
        flex-direction: column;

        img {
            width: 3.8rem;
        }

        h2 {
            font-family: 'Big Shoulders Display', sans-serif;
            
            font-size: 2.5rem;
            color: $Very-light-gray;

            margin: 2.4rem 0 0 0;
        }


        p {
            color: $Transparent-white;
            line-height: 1.6rem;
            margin: 1.4rem 0.5rem 5rem 0;
        }

        button {
            background: $Very-light-gray;
            border: 2px solid $Very-light-gray;
            font-family: 'Lexend Deca', sans-serif;
            font-size: 0.95rem;
            font-weight: 400;
            border-radius: 3rem;
            cursor: pointer;

            width: 6.5rem;

            padding: 0.8rem;
            text-align: center;

            &:hover {
                background: transparent;
                color: $Very-light-gray;
            }
        }
    }
}

.attribution {
    font-size: 1rem;

    position: absolute;
    left: 30rem;
    bottom: 2rem;
}


@media (max-width: 900px) {
    main {
        flex-direction: column;
        padding: 0 2.5rem;

        .sedans {
            border-radius: 0.5rem 0.5rem 0 0;

        }

        .luxury {
            border-radius: 0 0 0.5rem 0.5rem;
        }

        .card {
            width: 80%;
            min-width: 14rem;

            p {
                margin: 1.4rem 0.5rem 1rem 0;
            }
        }
    }

    .attribution {
        position: initial;
        left: unset;
        bottom: unset;
    }
}